/* TABLE OF CONTENS:
1. resets
2. base elements
3. components
4. layouts
5. custom  */

/* 1. resets */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
    margin: 0;
}

ul, blockquote, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--dark-color);
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 2. base elements */

:root {
    --dark-color: #123A4E;
    --bright-color: #FDFDF0;
    --medium-color: #F7EED7;
    --black-color: #000;
    --contrast-color-blue: #BFD5DB;
    --contrast-color-orange: #F9A826;
}

html {
    background-color: var(--bright-color);
    color: var(--black-color);
    font-family: 'Karla', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

/* typography */

p {
    font-size: 1rem;
    font-weight: 300;
    color: var(--black-color);
}

p + p {
    margin-top: 1rem;
}

a {
    font-weight: 500;
    color: var(--dark-color);
}

a.button {
    margin-top: 5rem;
    padding: 1rem;
    border-radius: 8px;
    min-width: 500px;
    background-color: var(--contrast-color-blue);
    color: var(--dark-color);
}

a.button:is(:hover, :focus) {
    color: var(--bright-color);
    background-color: var(--dark-color);
    transition: background-color 500ms ease;
}

a.button::after {
    content: '↓';
    margin-left: 3rem;
}

.bg-dark a {
    font-weight: inherit;
    color: var(--contrast-color-orange);
}

footer a {
    color: var(--bright-color);
    font-weight: 300;
}

h1, blockquote {
    font-family: 'Cabin', sans-serif;
    font-size: 1.875rem;
    color: var(--dark-color);
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    color: var(--dark-color);
    margin-bottom: 0.5rem;
}

.cover p {
    margin-bottom: 6rem;
}

.cover h1 {
    line-height: 1.25;
}

.quote blockquote {
    font-style: italic;
    max-width: 800px;
}

h5, h6 {
    margin-bottom: 0.5rem;
    color: var(--contrast-color-orange);
}

h5 {
    margin-top: 1.5rem;
    text-transform: uppercase;
}

@media only screen and (min-width: 800px) {
    p.t-large, .quote p {
        font-size: 1.25rem;
    }
    h1, blockquote {
        margin-bottom: 2rem;
    }
    a.button {
        border: 1px solid var(--dark-color);
        background-color: transparent;
    }
}

@media only screen and (min-width: 1200) {
    h1, blockquote {
        font-size: 2.75vw;
    }
}

.bright {
    font-weight: 500;
}

/* 3. components */

/* 3.1 base components */

img.round {
    border-radius: 50%;
}

/* 3.2 layout components */

/* sections */

section, header, footer {
    padding: 0 1.5rem;
    margin:  5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 1200px) {
    section, header, footer {
        padding-left: 20vw;
        padding-right: 20vw;
    }
}

section.bg-dark, section.quote, footer, section.bg-blue {
    padding: 5rem 1.5rem;
    margin: 0;
}

header {
    padding: 1.5rem;
    margin: 0;
    position: fixed;
    z-index: 100;
}

:is(header, footer) ul {
    width: 100%;
    display: flex;
}

footer li, header.active li {
    margin: 0 2rem 2rem 0;
}

header li {
    margin: 0 2rem 0 0;
}

section > *, header nav, footer ul {
    max-width: 1200px;
    width: 100%;
}


footer, section.bg-dark  {
    background-color: var(--dark-color);
    color: var(--bright-color);
}

footer ul {
    display: flex;
    flex-direction: column;
}

footer li:last-of-type a {
    color: var(--contrast-color-orange);
}


.bg-dark p {
    color: var(--bright-color);
}

.quote {
    text-align: center;
}

section.quote, section.bg-blue {
    background-color: var(--contrast-color-blue);
    text-align: center;
}

.cover div > * {
    max-width: 700px;
}

section.cover {
    height: 100vh;
    margin: 0;
    background-position: center;
    background-size: cover;
}

:is(#course, #community, #faculty) section.cover {
    justify-content: flex-start;
}

:is(#course, #community, #faculty) .cover h1 {
    padding-top: 25vh;
    font-size: 4rem;
    max-width: none;
    text-align: center;
}

#home section.cover {
    background-image: url(https://res.cloudinary.com/dffi51zip/image/upload/c_scale,w_1920/v1618427742/Evolve/home-cover_cfr12y.jpg);
}

#course section.cover {
    background-image: url(https://res.cloudinary.com/dffi51zip/image/upload/c_scale,w_1920/v1618427207/Evolve/course-cover_pagyit.jpg);
}

#faculty section.cover {
    background-image: url(https://res.cloudinary.com/dffi51zip/image/upload/o_70/c_scale,w_1920/v1618427210/Evolve/faculty-cover_yowyvw.jpg);
}

#community section.cover {
    background-image: url(https://res.cloudinary.com/dffi51zip/image/upload/c_scale,o_90,w_1920/v1618427203/Evolve/community-cover_tzoil5.jpg);
    background-position: top;
}

#community section.bg-blue {
    background-image: url(https://res.cloudinary.com/dffi51zip/image/upload/v1619018115/Evolve/Guest_Speakers-semi_transparent_zxxg1s.png);
    background-size: cover;
}

@media screen and (min-width: 800px) {
    section {
        margin: 10rem 0;
    }
    section, header, footer {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    section.bg-dark, section.quote {
        padding: 10rem 1.5rem;
    }
    footer ul {
        flex-direction: row;
    }
}

/* navigation */

a.current {
    font-weight: 500;
}

nav li:last-of-type a {
    opacity: 0.5;
}

header nav {
    display: flex;
}

header ul {
    flex-direction: column;
}

header li {
    display: none;
}

header li a {
    font-weight: 300;
}

header li:first-of-type {
    display: block;
}

header li:first-of-type a {
    font-weight: 500;
    font-size: 1.5rem;
}

header.active {
    background-color: var(--bright-color);
}

header.active li {
    display: block;
}

header.scrolled, #register header {
    background-color: var(--bright-color);
    transition: background-color 500ms ease;
}

div.hamburger {
    margin-top: 0.5rem
}

.bar {
    display: block;
    width: 1rem;
    height: 2px;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--dark-color);
}

.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.active .bar:nth-child(2) {
    opacity: 0;
}

.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

@media screen and (min-width: 800px) {
    nav li:last-of-type, footer li:last-of-type {
        margin-left: auto;
        margin-right: 0;
    }
    .hamburger {
        display: none;
    }
    header ul {
        flex-direction: row;
        align-items: baseline;
    }
    header li {
        display: block;
    }
    header li:first-of-type a {
        font-weight: 500;
        font-size: 1.5rem;
    }
}

/* columns */

.split img {
    width: 100%;
    margin-bottom: 1rem;
}

div.split {
    margin-bottom: 2.5rem;
}
.split h1 {
    margin-bottom: 0.5rem;
}

@media only screen and (min-width: 900px){
    .split{
        display: flex;
        flex-flow: row;
        align-items: flex-start;
    }
    .split > * {
        max-width: 540px;
    }
    .split img {
        margin-right: 4rem;
        width: 40%;
    }
    .split h1{
        margin-bottom: 0.5rem;
    }
    .col-2 {
        display: flex;
        gap: 2rem;
    }
    .col-2 div {
        flex: 1 1 40%;
    }
    .col-2 img {
        width: 100%;
    }
}

/* cards */

.card-container {
    display: flex;
    flex-flow: row wrap;
}

.col-3 div.card {
    flex: 1 1 300px;
}

#community div.card {
    flex: 1 1 100%;
    display: flex;
}

.card, .summary {
    background-color: var(--medium-color);
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1rem;
}

div.summary {
    max-width: 700px;
}

.bg-blue .card {
    background-color: var(--bright-color);
    text-align: left;
}

ol {
    list-style: none;
    counter-reset: numList;
    padding: 0;
}

#course ol.col-1 {
    position: relative;
}

#course .card li:last-of-type {
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 0.25rem;
}

li.card span {
    display: flex;
    align-items: top;
    align-items: flex-start;
    font-weight: 500;
}

.card-container.col-1 {
    flex-direction: column;
    max-width: 725px;
}

#course .card li {
    font-weight: 300;
    margin-left: 2.5rem;
}

section.bg-blue span::before {
    counter-increment: numList;
    content: counter(numList);
    text-align: center;
    padding: 0 0.5rem;
    border: 2px solid var(--dark-color);
    -moz-border-radius: 999px;
    border-radius: 999px;
    font-weight: 500;
    margin-right: 0.625rem;
}

div.summary > div {
    margin-bottom: 3rem;
}

@media only screen and (min-width: 800px){
    .card-container {
        margin-right: -1rem;
    }
    .card {
        margin-right: 1rem;
    }
    div.card, div.summary {
        padding: 1.5rem;
    }
    div.summary > div {
        column-fill: auto;
        column-count: 2;
    }
    #community div.summary > div {
        height: 8rem;
    }
    #course div.summary > div {
        height: 15rem;
    }
    div.summary h5:first-of-type {
        margin-top: 0;
    }
    #community div.card {
        flex: 1 1 300px;
    }
}

/* guest faculty */

#community section.quote {
    background-color: var(--bright-color);
    padding-top: 0;
}

#community div.card-container {
    margin: 2.5rem 0;
}

#community section.bg-blue > * {
    max-width: 700px;
}

#community section.bg-blue > p {
    color: var(--bright-color);
    font-weight: 400;
}

/* faculty */

#faculty div.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#faculty div.quote {
    margin-top: 5rem;
}

#faculty .cover blockquote {
    margin-bottom: 0.5rem;
}

/* testimonials */

#testimonials .card-container {
}

#testimonials .card {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#testimonials h6 {
    margin-top: 2rem;
    font-size: 0.875rem;
}

#register section {
    margin: 0;
}

#register iframe {
    margin: 5rem 0;
}

/* terms and privacy */

:where(#terms, #privacy) section {
    margin-top: 0;
    padding-top: 10rem;
}